* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 10px;
  margin: 1px solid;
}

header img {
  padding-right: 5px;
}

h1 {
  font-weight: bolder;
  display: inline-block;
  font-size: 40px;
}


main {
  height: 2000px;
  background-color: rgb(241, 241, 241);
}

.box, nav {
  margin: auto;
  width: 50%;
  background-color: white;
  padding: 10px;
  padding-left: 30px;
}

nav {
  border-top: 30px solid rgb(241, 241, 241);
  border-bottom: 1px solid lightgrey;
}

button
{
  background: white;
  color: lightgray;
  border: 1px solid lightgray;
  font: inherit;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.task {
    background: #45abea;
}

.done {
    width: 20px;
    height: 20px;
    color: green;
    border-radius: 50px;
    border: 1px solid;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}

ul {
  list-style-type: none;
  margin-left: 10px;
}

li {
  padding: 5px;
}

.label {
  background-color: rgb(139, 139, 139);
  display: inline-block;
  border-radius: 15px;
  padding: 8px;
  color: white;
  font-size: 10px;
}

.editorial {
  background-color: #45abea;
}

.q1 {
  background-color: #9c72e4;
}

.recruiting {
  background-color: #64c0a9;
}

.mobile {
  background-color: #f29e33;
}

.website {
  background-color: #d863a1;
}

.sales {
  background-color: #b0c926;
}
